.termsandconditions{

  border: 1px solid black;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-right: 80px;
  margin-left: 80px;
  background-color: rgb(179, 193, 198);
}